@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    font-size: 120%;
}

.card{
    background: rgba(55, 55, 55, 0.555);
    box-shadow: .4rem .4rem .3rem  #424242;
    color: #ccc;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    margin: 1em auto;
}

button{
    text-align: center;
    border-radius: 2em;
    padding: .5em .7em;
    color: #fff;
    background: #7c7c7c;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-left: 1em;
}

button:hover{
    background: #2b2b2ba0;
}

.search-bar{
    padding: .4em 1em;
    font-size: 4vmin;
    border-radius: 24px;
    background: #9c8f8fa0;
    color: #fff;
    width: calc(100% - 100px)
}

.search-bar:focus{
    background-color: #272727;
}

.temp{
    margin: 0;
    margin-bottom: .4em;
}

.flex{
    display: flex;
    align-items: center;
}

.description{
    margin-left: 8px;
}

.city{
    margin: 1rem auto;
}
